# Ignore user directories
downloads/
games/
git/
sync/


# Ignore everything in documents except for the wallapers
documents/*
!documents/wallpapers/

# Don't keep track of neovim plugin stuff and the netrw history
.config/nvim/autoload/
.config/nvim/plugged/
.config/nvim/.netrwhist

# Don't keep track of our ssh stuff
.ssh/known_hosts
.ssh/id_rsa
.ssh/id_rsa.pub

# Ignore xdg directories that don't hold config
.local/share/
.local/lib/
.cache/
# Random programs put their executables in here; we use .config/bin
.local/bin/

# Ignore config we don't care about (usually machine-generated)

.config/GIMP/
.config/QtProject.conf
.config/Slack/
.config/calibre/
.config/chromium/
.config/dconf/
.config/keepassxc/
.config/libreoffice/
.config/pulse/
.config/retroarch/
.config/syncthing/
.config/vlc/
.config/zoomus.conf
.config/Nextcloud/
.config/Unknown\ Organization/
.config/lutris/
.config/gtk-2.0/
.mozilla/
.pki/
.zoom/
.filetags
.filetags_tagfilter/
.steam/
.steampath
.steampid
.pulse-cookie
