[Unit]
Description=Local system resume actions
Before=suspend.target
Before=hibernate.target

[Service]
Type=forking
User=will
Environment=DISPLAY=:0
ExecStart=/home/will/.config/bin/lock
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=suspend.target
WantedBy=hibernate.target
