[Unit]
Description=Auto-lock service
Before=suspend.target
Before=hibernate.target

[Service]
Type=forking
Environment="DISPLAY=:0" "XAUTHORITY=/home/will/.local/share/xauthority"
ExecStart=/home/will/.config/bin/lock
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=suspend.target
WantedBy=hibernate.target
