! ------------------------------------------------------------------------------
! ROFI color theme
! ------------------------------------------------------------------------------
! Base16 Mars
! Author: Will Vauclain (https://github.com/wvauclain/)

! base00: #330004
! base01: #471A1D
! base02: #5C3336
! base03: #998082
! base04: #AD999B
! base05: #C2B3B4
! base06: #D6CCCD
! base07: #EBE6E6
! base08: #53BD98
! base09: #A9CC76
! base0A: #E4F038
! base0B: #E59C00
! base0C: #BFB472
! base0D: #D38EFF
! base0E: #FF894F
! base0F: #FF849C

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #471A1D, #471A1D, #330004

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #471A1D, #C2B3B4, #471A1D, #FF894F, #471A1D
rofi.color-active:  #471A1D, #D38EFF, #471A1D, #D38EFF, #471A1D
rofi.color-urgent:  #471A1D, #53BD98, #471A1D, #53BD98, #471A1D

! Set the desired separator style
rofi.separator-style: solid

! Font
rofi.font: Iosevka 12