[Unit]
Description=Local system resume actions
Before=suspend.target
Before=hibernate.target

[Service]
Type=forking
User=will
Environment=DISPLAY=:0
ExecStart=/home/will/bin/lock

[Install]
WantedBy=suspend.target
WantedBy=hibernate.target
